// /* CSS HEX */
// --dark-slate-blue: #3d3b8eff;
// --glaucous: #6883baff;
// --cultured: #f9f9f9ff;
// --china-pink: #e072a4ff;
// --granny-smith-apple: #b0e298ff;

// /* CSS HSL */
// --dark-slate-blue: hsla(241, 41%, 39%, 1);
// --glaucous: hsla(220, 37%, 57%, 1);
// --cultured: hsla(0, 0%, 98%, 1);
// --china-pink: hsla(333, 64%, 66%, 1);
// --granny-smith-apple: hsla(101, 56%, 74%, 1);

// /* SCSS HEX */
// $dark-slate-blue: #3d3b8eff;
// $glaucous: #6883baff;
// $cultured: #f9f9f9ff;
// $china-pink: #e072a4ff;
// $granny-smith-apple: #b0e298ff;

// /* SCSS HSL */
// $dark-slate-blue: hsla(241, 41%, 39%, 1);
// $glaucous: hsla(220, 37%, 57%, 1);
// $cultured: hsla(0, 0%, 98%, 1);
// $china-pink: hsla(333, 64%, 66%, 1);
// $granny-smith-apple: hsla(101, 56%, 74%, 1);

// /* SCSS RGB */
// $dark-slate-blue: rgba(61, 59, 142, 1);
// $glaucous: rgba(104, 131, 186, 1);
// $cultured: rgba(249, 249, 249, 1);
// $china-pink: rgba(224, 114, 164, 1);
// $granny-smith-apple: rgba(176, 226, 152, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-right: linear-gradient(90deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-bottom: linear-gradient(180deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-left: linear-gradient(270deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-top-right: linear-gradient(45deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-bottom-right: linear-gradient(135deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-top-left: linear-gradient(225deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-bottom-left: linear-gradient(315deg, #3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);
$gradient-radial: radial-gradient(#3d3b8eff, #6883baff, #f9f9f9ff, #e072a4ff, #b0e298ff);