/* CSS HEX */
:root {
    --dark-slate-blue: #3d3b8e;
    --glaucous: #6883ba;
    --cultured: #f9f9f9;
    --china-pink: #e072a4;
    --granny-smith-apple: #b0e298;

    --rgb-dark-slate-blue: 61, 59, 142;
    --rgb-glaucous: 104, 131, 186;
    --rgb-cultured: 249, 249, 249;
    --rgb-china-pink: 224, 114, 164;
    --rgb-granny-smith-apple: 176, 226, 152;
}